header {
  background-color: #f2f2f2;
  font-family: 'Courier New', Courier, monospace;
}
.nav-logo{
  display: grid;
  grid-template-columns:3rem 20rem 1fr 1fr;
  font-weight: bold;
  align-items: center;
}
.user{
  grid-column: 4;
  justify-self: end;
}
nav a{
  color: black;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}
nav a:hover{
  color: #f4d043;
}

.brand-name{
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.brand-name img{
  width: 40px;
  height: 40px;
}

.login-form input::placeholder{
  font-family: 'Courier New', Courier, monospace;
}
.login-form button{
  font-family: 'Courier New', Courier, monospace;

}