/* Base */
@import 'base/base.css';
@import 'base/layout.css';

/* Components */
@import 'cmps/app-header.css';
@import 'cmps/app-footer.css';
@import 'cmps/bug-list.css';
@import 'cmps/bug-filter.css';
@import 'cmps/login-signup.css';


/* Views */
@import 'views/about-us.css';
@import 'views/bug-index.css';
@import 'views/bug-details.css';
/* @import 'views/llogin-signup.css'; */

/* home */
.home-page {
    text-align: center;
    margin-block-start: 2.5rem;
}

.main-title {
    text-align: center;
    color:rgba(36, 7, 7, 0.685);
    font-family: Arial, Helvetica, sans-serif;
}


.user-msg {
    color:white;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top:0;
    right:0;
    background-color: grey;
}
.user-msg button {
    float:right;
    border:0;
    border-radius: 50%;
    margin: 5px;
}

.success {
    background-color: rgb(244, 208, 67);
}
.danger {
    background-color: rgb(216, 59, 59);
}





/* helpers */

.flex{
    display: flex;
}