.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: $clr2; */
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.login-page .logo {
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.login-page hr{
  margin: 0;
}
.logo h1 {
  /* color: $clr1; */
  font-size: 20px;
}
.logo .logo-img {
    width: 55px;
    margin-inline-end: 0.9rem;
}
  
.logo h2 {
  color: black;
  text-align: center;
}
.login-header{
  margin-block-end: 3.125rem;
}
.guest-btn {
  margin: auto;
  width: fit-content;
  /* color: $clr1; */
  background-color: inherit;
  border: 1px solid;
  border-radius: 25px;
  padding: 12px;
  padding-inline: 90px;
}

/* // Define grid container */

.login-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
  align-items: center;
  justify-items: center;
  grid-row: 2 / 3;
  margin-top: 30px;
  /* // Center form within grid */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form  label {
  width: 300px;
  /* color: $clr1; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-form  input {
  width: 70%;
  padding: 12px 5px;
  margin: 8px 0;
  box-sizing: border-box;
}
.login-form  button {
  width: 150px;
  padding: 14px 20px;
  /* background-color: $brand-color; */
  /* color: $clr2; */
  border: none;
  cursor: pointer;
  border-radius: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

